<h3>  <h4>{{model.question_author}} asked: {{model.question_content}}</h4>
</h3>
<h4>Extra info: {{model.question_extra}}</h4>

<!-- <button {{action 'delete' model}}>Delete</button> -->
<!-- {{question-edit question=model edit="edit"}} -->
